trigger:
- deploy

jobs:
- job: Deploy
  displayName: 'Build and Publish'
  pool:
    vmImage: 'Ubuntu-16.04'
    demands: npm
  steps:
  - task: Npm@1
    displayName: 'npm install'
    inputs:
      verbose: false
  - script: 'npm run build'
    displayName: 'Tsc Build'
  - script: 'npm run versionUp'
    displayName: 'Npm version up'
  - task: Npm@1
    displayName: 'Npm publish'
    inputs:
      command: 'custom'
      customCommand: 'publish --tag preview --access public'
      customEndpoint: 'BabylonNpm'